.productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media (max-width: 600px) {

    .productContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}