.container{
    display: flex;
    margin-top: 110px;
}

.mainContent{
    flex-grow: 1;
    padding: 10px;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}