.container{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
}

.imageContainer{
    width: 100%;
    overflow: hidden;
}

.imageContainer img{
    width: 100%;
    height: 400px;
}

.details{
    display: flex;
    flex-direction: column;
}

.colorContainer{
    display: flex;
    gap: 5px;
}

.color{
    width: 15px;

    border: 1px solid black;
}
@media (max-width: 600px) {

    .imageContainer img {
        width: 100%;
        height: 350px;
    }
}