.container {
    display: flex;
    margin-top: 100px;
    padding: 10px;
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    position: -webkit-sticky; /* Safari support */
    position: sticky;
    top: 100px; /* Adjust based on your header height */
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gridItem:nth-child(3n+1) {
    grid-column: span 2;
}

.grid img {
    width: 100%;
    height: auto;
}

.noShow {
    display: none;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 25px;
}

@media (max-width: 900px) {
    .rightSide {
        width: 50%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .hide {
        display: none;
    }
    .noShow {
        display: inline;
    }
    .container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-top: 60px;
        top: 65px;
        z-index: 0;
        padding: 0;
        gap: 25px;
    }
    .leftSide {
        width: 100%;
        position: relative;
    }
    .rightSide {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
        position: static; /* Remove sticky positioning on small screens */
    }
}
