.container {
    display: flex;
    margin-top: 100px;
    padding: 10px
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 50%;
    padding: 150px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gridItem:nth-child(3n+1) {
    grid-column: span 2;
}

.grid img {
    width: 100%;
    height: auto;
}

.noShow{
    display: none;
}

@media (max-width: 600px) {

    .hide{
        display: none;
    }

    .noShow{
        display: inline;
    }

    .container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        margin-top: 0px;
        top: 65px;
        z-index: 0;
        padding: 0;
    }
    .leftSide {
        width: 100%;
        height: 100vh;
    }

    .rightSide {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 10px
    }
}