.inputSearch {
    border: none;
    border-bottom: 2px solid #ccc;
    height: 40px;
    width: 296px;
    font-size: 16px;
    padding: 0;
}

.inputSearch:focus {
    border-bottom-color: #000;
    outline: none;
}