.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ulContainer{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.liItem{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.liItem:hover{
    color: #ffd700;
}

.liItem a {
  display: flex;
  align-items: center;
  text-decoration: none;
}


.icon{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.iconConditional {
    display: none;
}

.sideMenu{
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100vw;
    overflow-y: auto;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 1000;
    background-color: #fff;
}

.ulMobileContainer{
    display: grid;
    padding: 20px;
    row-gap: 25px;
    list-style-type: none;
    font-size: 20px;
}

.mobileContainer{
    display: grid;
    width: 100%;
    column-gap: 10px;
    padding: 5px;
}

.imageIc{
    border-radius: 70px;
    overflow: hidden;
}

.hoverEffect:hover {
    border-radius: 10px;
    background-color: var(--grey-light);
}

@media (max-width: 600px) {
    .hide{
        display: none;
    }

    .iconConditional {
        display: inline-block;
    }
    .startItem{
        flex: 1;
    }
}


@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.sideMenu.slideIn {
    animation-name: slideIn;
}

.sideMenu.slideOut {
    animation-name: slideOut;
}