.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 70vh;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;


}