.button{
    cursor: pointer;
    padding: 5px 30px;
    
}

.container {
    position: relative;
    display: inline-block;
}

.floatingBox {
    position: absolute;
    right: 0; /* Align the form to the right edge */
    top: 100%; /* Position it below the button */
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 300px; /* Adjust width as needed */
    max-width: calc(100vw - 20px); /* Ensure it doesn't exceed viewport width with a small margin */
    overflow: auto;
}
